In [1]:
import pyarrow.dataset as ds
from pgpq import ArrowToPostgresBinaryEncoder

In [2]:
import psycopg

In [3]:
dataset = ds.dataset('yellow_tripdata_2023-06.parquet')

In [4]:
encoder = ArrowToPostgresBinaryEncoder(dataset.schema)

In [5]:
pg_schema = encoder.schema()

In [6]:
cols = [f'"{col_name}" {col.data_type.ddl()}' for col_name, col in pg_schema.columns]

In [7]:
ddl_temp = f"CREATE TEMP TABLE data ({','.join(cols)})"

In [8]:
ddl_temp

'CREATE TEMP TABLE data ("VendorID" INT4,"tpep_pickup_datetime" TIMESTAMP,"tpep_dropoff_datetime" TIMESTAMP,"passenger_count" INT8,"trip_distance" FLOAT8,"RatecodeID" INT8,"store_and_fwd_flag" TEXT,"PULocationID" INT4,"DOLocationID" INT4,"payment_type" INT8,"fare_amount" FLOAT8,"extra" FLOAT8,"mta_tax" FLOAT8,"tip_amount" FLOAT8,"tolls_amount" FLOAT8,"improvement_surcharge" FLOAT8,"total_amount" FLOAT8,"congestion_surcharge" FLOAT8,"Airport_fee" FLOAT8)'

In [9]:
ddl = f"CREATE TABLE yellow_taxi_data ({','.join(cols)})"

In [10]:
ddl

'CREATE TABLE yellow_taxi_data ("VendorID" INT4,"tpep_pickup_datetime" TIMESTAMP,"tpep_dropoff_datetime" TIMESTAMP,"passenger_count" INT8,"trip_distance" FLOAT8,"RatecodeID" INT8,"store_and_fwd_flag" TEXT,"PULocationID" INT4,"DOLocationID" INT4,"payment_type" INT8,"fare_amount" FLOAT8,"extra" FLOAT8,"mta_tax" FLOAT8,"tip_amount" FLOAT8,"tolls_amount" FLOAT8,"improvement_surcharge" FLOAT8,"total_amount" FLOAT8,"congestion_surcharge" FLOAT8,"Airport_fee" FLOAT8)'

In [11]:
with psycopg.connect("postgres://root:root@localhost:5432/ny_taxi") as conn:
    with conn.cursor() as cursor:
        cursor.execute(ddl_temp)  # type: ignore
        with cursor.copy("COPY data FROM STDIN WITH (FORMAT BINARY)") as copy:
            copy.write(encoder.write_header())
            for batch in dataset.to_batches():
                copy.write(encoder.write_batch(batch))
            copy.write(encoder.finish())
        cursor.execute(ddl)  # type: ignore
        cursor.execute("INSERT INTO \"yellow_taxi_data\" SELECT * FROM data")